.header{
	height: 100vh;
	background: url('../images/header.jpg');
	background-size: cover;
	padding-top: 275px;

	&__title{
		font:700 48px/.5 $josef;
		text-transform: uppercase;
		color: #fff;
		// text-align: center;
		margin-bottom: 20px;

	}
	&__desc{
		font:400 22px/1.1 $josef;
		letter-spacing: 4.1px;
		color: #fff;
		margin-bottom: 50px;
	}

	&__form{
		background: #fff;
		width: 57%;
		padding: 2px 0;
		margin-bottom: 120px;
	}

	&__input{
		width: 76%;
		text-align: center;

	}
	&__input:placeholder{
			color: $gray;
		}
	&__btn{
		background: $blue;
		width: 23%;
		padding: 20px 0;
		font:14px/1.8 $aleo;
		text-transform: uppercase;
		color: #fff;
		cursor: pointer;

		
	}
	
}
.header__input[placeholder]          {
	font:14px/1.7 $josef;
	color: #999;
}
.header__input::-moz-placeholder     {
	font:14px/1.7 $josef;
	color: #999;
} 
.header__input:-moz-placeholder      {
	font:14px/1.7 $josef;
	color: #999;
} 
.header__input:-ms-input-placeholder {
	font:14px/1.7 $josef;
	color: #999;
}



.t-container--head{
	display: flex;
	flex-direction: column;
	align-items: center;
}


.scroll{
	color:#fff;
	text-align: center;
	font:14px $josef;
	letter-spacing: 2px;
	&__angle{
		font-size: 30px;
	}
}

.scroll:hover{
	font-size: 20px;
	transition:all .3s ;
}

.btn__icon{
	padding: 0 10px;
	font-size: 20px;
	vertical-align: middle;
}
