.spain{
	&__one{
		background: url('../images/spain-1.jpg');
		background-size:cover;
		padding: 230px 0 100px;
	}
	&__two{
		background: url('../images/spain-2.jpg');
		background-size:cover;
		padding: 230px 0 100px;
	}	
	&__wrap{
		background: rgba(35, 35, 35, .9);
		color: #fff;
		padding: 50px 30px;
	}
	&__name{
		font:20px/1.3 $josef;
		margin-bottom: 30px;

	}
	&__island{
		font:20px/1.3 $josef;
		text-transform: uppercase;
		margin-bottom: 25px;
	}
	&__desc{
		font:16px/1.6 $josef;
		margin-bottom: 45px;
	}

	&__btn{
		background: $blue;
		padding: 20px 60px;
		font:14px/1.8 $aleo;
		text-transform: uppercase;
		color: #fff;
		cursor: pointer;
	}

}
.btn__link{
	color: #fff;
}